# Derleme ve geçici dosyalar
__pycache__/
*.pyc
.ipynb_checkpoints/
.streamlit/

# IDE dosyaları
.vscode/
.idea/

# Büyük dosyalar (yükleme!)
models/best_model.pt
resume-dataset.zip

# Not: BERT model dosyaları artık dahil edilecek
# models/bert/  —> YORUM DIŞI BIRAKILDI, ARTIK GİT'E DAHİL EDİLİYOR
